KERNEL_ARCH_CFLAGS=-mgeneral-regs-only
KERNEL_ARCH_CPPFLAGS=-mgeneral-regs-only
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/ttycpp.o \
$(ARCHDIR)/loadPageDirectory.o \
$(ARCHDIR)/enablePaging.o \
$(ARCHDIR)/page.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/inlineasm.o \
$(ARCHDIR)/interrupts.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/serial.o \
$(ARCHDIR)/reloadsr.o \
$(ARCHDIR)/handlers.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/pit.o \
$(ARCHDIR)/nmi.o